{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block body %}
    <div class="container bg-custom">
        <div class="row justify-content-center">
            <div class="col-md-9 p-4 bg-custom">
                <img src="{{ listing.image_url }}" alt="books" class="d-block mx-auto w-75 mb-2 h-50">
                <div class="mb-4">
                    <h2 class="text-capitalize">{{ listing.title }}</h2>
                    <p class="fw-bold">Price: ${{ listing.starting_bid }}</p>
                    <p class="mb-4">{{ listing.description }}</p>
                    <h5>Details</h5>
                    <ul>
                        <li>Listed by: {{ listing.creator.username }}</li>
                        <li>Date listed: {{ listing.created_at }}</li>
                        <li>Category:
                            {% if categories %}
                                {% for category in categories %}
                                    <a href="#">{{ category }}</a>
                                {% endfor %}
                            {% endif %}
                        </li>
                        <li>Status:
                            {% if listing.closed %}
                                Closed
                            {% else %}
                                Active
                            {% endif %}
                        </li>
                    </ul>
                </div>                
                {% if user.is_authenticated %}                                    
                    <form action="{% url 'listing details' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ comment_form.content|attr:"class:form-control mb-2"|attr:"placeholder:Leave a comment here"|attr:"rows:5" }}
                        <input type="submit" class="btn btn-warning" value="Post" name="post_comment">
                    </form>                    
                {% endif %}
                <div>
                    <h5>Reviews</h5>
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="d-flex">
                                <p>{{ comment.user }}</p>
                                <small class="text-muted">{{ comment.commented_at }}</small>
                                <p>{{ comment.content }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-custom m-3 p-3">
                    {% if user.is_authenticated %}
                        <form action="{% url 'listing details' listing.id %}" method="post">
                            {% csrf_token %}
                            {% if listing_exists %}
                                <input class="btn btn-light w-100" type="submit" name="remove_from_watchlist" value="Remove From Watchlist">
                            {% else %}
                                <input class="btn btn-light w-100" type="submit" name="add_to_watchlist" value="Add To Watchlist">
                            {% endif %}
                        </form>
                        {% if listing.closed is not True %}
                            <hr>
                            <form action="{% url 'listing details' listing.id %}" method="post">
                                {% csrf_token %}
                                {% if listing.creator != user %}
                                    {{ bid_form|crispy }}
                                    <input class="btn btn-warning w-100" name="place_bid" type="submit" value="Place Bid">
                                {% else %}
                                    <input class="btn btn-warning w-100" type="submit" name="close_auction" value="Close Auction">
                                {% endif %}
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}